<div class="row bg-danger tj"><h3 class="head">CHAT APP</h3></div>
<div class="row ">
<div class="col-2 bg-danger st">
    <h3 class="heads">Sign In</h3>
<div class="mt-5 text-white">
<h6>Welcome to <b>Connect</b> Chat App.<br> <h5 class="mt-4">We connect you with Friends and Family</h5></h6>
<br><br>
<div class="row ml-3" >
    <button style="margin-top: -40px;" routerLink="up" class="btn btn-white">Get Started</button>
</div>
</div>
</div>

<div class="col-6 bj">

    <router-outlet></router-outlet>
     <br><br>
<div class="col-6">
    <button routerLink="up" routerLinkActive="active" class="btn  bt">Sign Up</button>
    <button  routerLink="in" routerLinkActive="active" class="btn  bt">Sign In</button>
    <!-- <button routerLink="up" routerLinkActive="active" class="btn  bt">Sign Up</button> -->
    
    </div>
    
 



</div>
<!-- <div *ngIf="">

</div> -->


</div>





<style>
    
</style>