<div class="row bg-danger tj"><h3 class="head">CHAT APP</h3></div>

<div class="row ">
    <div  class="col-2 ts">
        <img src="assets/pic.jpg" >
    </div>
<div style="margin-left: 40%;" class="col-2 bg-danger st" >
    <h3 class="heads" style="margin-top: px;">Sign In</h3>
<div class="mt-3 text-white">
<h6>Welcome to <b>Connect</b> Chat App.<br> <h5 class="mt-4">We connect you with Friends and Family</h5></h6>
<br><br>
<div class="row ml-3 mb-4" style="margin-top: -30px;">
    <button (click)="go()" class="btn btn-white">Get Started</button>
</div>
</div>



</div>
